@keyframes shake {
    0%,
    50%,
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    10%,
    20% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
    30%,
    40% {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
  }
  @keyframes burgermenu {
    0% {
      transform: translateY(-50%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(100%);
    }
  }
  @keyframes changecolor {
    0% {
      color: red;
    }
    100% {
      color: white;
    }
  }
  @keyframes rotateLoader {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }