.header {
  display: flex;
  height: 100px;
  padding: 10px 10px;
  background-color: black;
  align-items: center;
  color: white;
  justify-content: space-between;
}
.header__title {
  display: flex;
  align-items: center;
  font-family: "Marck Script";
  font-size: 24px;
}
.header__logo {
  width: 100px;
  max-height: 100%;
  img {
    max-width: 100%;
    max-height: 80px;
  }
}

.header_nav_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header_nav_list_item {
  /* margin-right: 20px; */
  font-size: 20px;
  cursor: pointer;
  transition: 400ms;
  &:hover {
    color: rgb(81, 139, 245);
    transform: translate(0px, -1px);
  }
  
  &:not(:last-child) {
      margin-right: 20px;
  }
}

.burgermenu {
  position: relative;
  width: 30px;
  height: 30px;
  transition: 400ms;
  cursor: pointer;
  display: none;
  background: none;
  border: none;
  @media (max-width: 550px) {
    display: block;
  }
  &::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 400ms;
  }
  &::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 400ms;
  }
  span {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    transition: 400ms;
  }
}

@media (max-width: 640px) {
  .header_nav_list {
    display: none;
    &.active {
      display: flex;
      position: fixed;
      display: flex;
      top: 100px;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.616);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index:1;
      animation: burgermenu 1s;
    }
  }
  .header.active {
      position: fixed;
      width: 100%;
      z-index: 2;
  }
  .burgermenu {
    display: block;
  }
  .burgermenu.active {
    &::before {
      top: 14px;
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
      bottom: 14px;
    }
    span {
      display: none;
    }
  }
  .header_nav_list_item {
    &:not(:last-child) {
        margin-right: 0px;
    }
  }
}
